.navbar {
    background: #2c3531;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    position: relative;
    top: 0;
    z-index: 100;
    /* border-bottom: 0.5vh solid #D9B08C; */
    /* animation: intro-nav 0.8s ease-out;; */
  }
/*   
  @keyframes intro-nav {
    0% {
      font-opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    position: absolute;
    padding: 15px;
    display: flex;
    flex-direction: row;
  }

  @keyframes word-hover {
    0% {}
    100% {padding: 20px; 
      border-width: thick;
      font-size: 1.5rem;}
  }

  .hidden-arrow {
    display: none;
    flex-direction: row;
    color: #D9B08C;
  }
  .navbar-logo:hover {
    display: flex;
    flex-direction: row;
    color: #D9B08C;
    border-top: 3px solid #D9B08C;
    border-bottom: 3px solid #D9B08C;
    border-width: thin;
    animation-name: word-hover;
    animation-iteration-count: infinite;
    animation-duration: 2.1s;
    animation-direction: alternate;
  }

  .navbar-logo:hover .hidden-arrow {
    display: inline;
  }
  
  
  /* .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  } */
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Boxes for the top bar grids */
  .nav-item {
    padding: 10px;
    height: 100px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: 1.2rem;
  }
  
  .nav-links:hover {
    color: #ffcb9a;
    border-top: thin solid #ffcb9a;
    animation-name: word-hover;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  /* .nav-links-mobile {
    display: none;
  } */
  
  .menu-icon {
    display: none;
  }
  
  /* Small view */
  @media screen and (max-width: 950px) {
    .navbar-logo {
      position: relative;
      margin-left: auto; 
      margin-right: auto;
    }
    .nav-menu {
      /* display: none; */
      flex-direction: column;
      width: 100%;
      position: absolute;
      /* animation-name: fold-menu; */
      height: 0px;
      top: 100px;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  
    .nav-menu.active {
      top: 100px;
      display: inline;
      background: #D9B08C;
      opacity: 0.9;
      height: 400px;
      transition-property: height;
      transition: 0.5s ease;
      margin-bottom: 400px;
    }
    .nav-links {
      display: none;
    }
    .nav-links.active {
      display: none;
      text-align: center;
      font-size: 1.5rem;
      padding: 0.2vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2c3531;
    }
    
    .nav-links:hover {
      color: #fff;
      font-size: 1.7rem;
      border-radius: 0.1vw;
      border-top: 0px;
      border-right: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  
    /* Hamburger button */
    .menu-icon {
      display: block;
      color: #fff;
      position: absolute;
      align-self: center;
      font-size: 1.8rem;
      right: 4%;
      cursor: pointer;
    }
    /* x button */
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 400px) {
    @keyframes word-hover-mobile {
      0% {}
      100% {padding: 5px; 
        border-width: thick;
        font-size: 1rem;}
    }
    .navbar-logo {
      font-size: 1.5rem;
      padding: 0;
    }
    .navbar-logo:hover {
      animation-name: word-hover-mobile;
    }
    .nav-links:hover {
      color: #fff;
      font-size: 1.1rem;
      border-radius: 0.1vw;
      border-top: 0px;
      border-right: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  }